/* Imports Fonts from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Khula&family=Raleway:ital,wght@0,900;1,900&family=Roboto+Condensed:ital@0;1&display=swap');

/* Web Config */

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(31, 31, 31);
    color: #cbd5ff; 
    --bg-primary: rgb(65, 65, 65);
    --bg-acrylic-primary: rgba(65,65,65,0.5);
    --accent: rgb(91, 143, 255);
    --succes-accent: rgb(109, 255, 80);
}

/* Items */

.title {
    font-family: 'Raleway';
}

.subtitle {
    font-family: 'Roboto Condensed';
}

.main-text {
    font-family: 'Khula';
}

.content {
    display: block;
    padding-left: 5rem;
    color: #cbd5ff;
}

body::-webkit-scrollbar-track{
    background: #cccccc;
    width: 0.25rem;
}
body::-webkit-scrollbar-thumb{
    background: rgb(56, 136, 255);
}